@model ToDoApp.Entity.ToDo
@{
    ViewBag.Title = "Добавление TODO";
}
    <form asp-action="create" asp-controller="home">
        <div class="form-group">
            <label asp-for="Context" class="control-label">Context</label>
            <input type="text" asp-for="Context" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="DateDue" class="control-label">DateDue</label>
            <input type="time" asp-for="DateDue" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="DateFor" class="control-label">DateFor</label>
            <input type="date" asp-for="DateFor" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
    </form>