@model ToDoApp.Entity.ToDo
@{
    ViewBag.Title = "Добавление TODO";
}
<div>
    <form asp-action="create" asp-controller="home">
        <div>
            <label asp-for="Context">Context</label>
            <input type="text" asp-for="Context" />
        </div>
        <div>
            <label asp-for="DateDue" class="control-label">DateDue</label>
            <input type="time" asp-for="DateDue" />
        </div>
        <div>
            <label asp-for="DateFor">DateFor</label>
            <input type="date" asp-for="DateFor" />
        </div>
        <div>
            <input type="submit" value="Отправить" />
        </div>
    </form>
</div>